html,
body {
    margin: 0;
    overflow: hidden;
    background: #eee;
    font-family: Courier, monospace;
    font-size: 14px;
    background-color: #000;
}

.effect-text {
    font-size: 50px;
    color: #edf2f4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer
}
.tiny-heart {
    position: absolute;
    opacity: 0;
    background-color: #D90429;
    box-shadow: 0px 0px 50px 4px rgba(239, 35, 60, 0.7);
    animation: animated-heart infinite ease-in;
}

.tiny-heart:before,
.tiny-heart:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D90429;
}

.tiny-heart:before {
    transform: translateX(-50%);
}

.tiny-heart:after {
    transform: translateY(-50%);
}

@keyframes animated-heart {
    0% {
        opacity: 0;
        transform: translate(0, 0) rotate(45deg)
    }
    50% {
        opacity: 1;
        transform: translate(0, -40%) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translate(0, -1000%) rotate(45deg);
    }
}

h2 {
    /*background-color: rgb(0, 0, 0);*/
    width: 100%;
    color: rgb(255 255 255);
    height: 100%;
    font-size: 42px;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px rgb(225 12 168), 0 0 10px rgb(225 12 168), 0 0 10px rgb(225 12 168);
    text-align: center;
}

#c {
    display: block;
    margin: calc(50vh - 175px) auto;
}

h3 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: rgb(255 255 255);
    height: 100%;
    font-size: 31px;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px rgb(225 12 168), 0 0 10px rgb(225 12 168), 0 0 10px rgb(225 12 168);
    text-align: center;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*width: 800px;*/
}

.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    /*animation: anim 1.5s ease-in-out infinite;*/
    /*-webkit-animation: anim 1.5s ease-in-out infinite;*/
    /*-o-animation: anim 1.5s ease-in-out infinite;*/
    /*-moz-animation: anim 1.5s ease-in-out infinite;*/
}

#name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -20px;
    font-size: 46px;
    color: #ea80b0;
    /* animation: anim 1.5s ease-in-out infinite;
        -webkit-animation: anim 1.5s ease-in-out infinite;
        -o-animation: anim 1.5s ease-in-out infinite;
        -moz-animation: anim 1.5s ease-in-out infinite; */
}

.mark {
    width: 100%;
    position: absolute;
    top: 70%;
    text-align: center;
    color: rgba(234, 128, 176, 0.5);
    font-size: 3vw;
}

@keyframes anim {
    0% {
        transform: scale(0.8);
    }

    25% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(0.8);
    }
}

@-webkit-keyframes anim {
    0% {
        -webkit-transform: scale(0.8);
    }

    25% {
        -webkit-transform: scale(0.7);
    }

    50% {
        -webkit-transform: scale(1);
    }

    75% {
        -webkit-transform: scale(0.7);
    }

    100% {
        -webkit-transform: scale(0.8);
    }
}

@-o-keyframes anim {
    0% {
        -o-transform: scale(0.8);
    }

    25% {
        -o-transform: scale(0.7);
    }

    50% {
        -o-transform: scale(1);
    }

    75% {
        -o-transform: scale(0.7);
    }

    100% {
        -o-transform: scale(0.8);
    }
}

@-moz-keyframes anim {
    0% {
        -moz-transform: scale(0.8);
    }

    25% {
        -moz-transform: scale(0.7);
    }

    50% {
        -moz-transform: scale(1);
    }

    75% {
        -moz-transform: scale(0.7);
    }

    100% {
        -moz-transform: scale(0.8);
    }
}

